body {
    padding: 20px;
}

p {
    color: green;
}

/* Classe e id */
.meu-paragrafo {
    background-color: black;
}

#titulo-principal {
    background-color: rgb(49, 146, 10);
    color: black;
    padding: 10px;
    font-family: 'Times New Roman', Times, serif
}

/* todos os Elementos da Página e listas */
/* *{
    font-family: 'Courier New', Courier, monospace;
}

p, h1 {
    border-bottom: 1px solid red;
} */

/* Cores */
/* .nome-da-cor{
    color: pink;
}

.hexa {
    color: #3f3f3f;
    background-color: #20c050;
}

.rgb {
    color: rgb(54, 92, 90);
} */

.borda {
    border-style: ridge;
    border-color: brown;
}

.alinhar-texto {
    text-align: center;
}